body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* start hedaer */

section.header header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 5px;
    z-index: 1000;
}

section.header header nav {
    height: 34px;
    margin: 0px 20px;
}

section.header header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.header header nav ul li {
    margin: 10px 10px;
}

section.header header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 1S;
    position: relative;
    padding-bottom: 4px;
}

section.header header nav ul li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #088178;
    bottom: -1px;
    left: 0px;
    transition: 1s;
}

section.header header nav ul li a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #088178;
    bottom: -1px;
    left: 0px;
    transition: 1s;
}

section.header header nav .shop i {
    cursor: pointer;
}

section.header header nav ul li a::before:hover {
    left: 0px;
}

section.header header .toggle {
    display: none;
}

@media (max-width:767px) {
    section.header header nav .shop a i {
        display: block;
    }
    section.header header .toggle {
        display: block;
        margin: 0px 10px;
        cursor: pointer;
    }
    section.header header nav {
        height: 34px;
        margin: 0px 20px;
        position: fixed;
        width: 0%;
        height: 100%;
        right: 0;
        left: -21px;
        top: 50px;
        border-top: solid 2px black;
        background-color: #ccc;
        transform: translateX(-1000px);
        transition: 1s;
    }
    section.header header nav.active {
        width: 100%;
        transform: translateX(0px);
        transition: 1s;
    }
    section.header header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        margin: 0px -7px;
        width: 100%;
    }
    section.header header nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 10px;
        margin-right: 30px;
    }
    section.header header nav ul li a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        transition: 1S;
        position: relative;
        padding-bottom: 4px;
        display: block;
        width: 100%;
        border-radius: 10px;
        border: solid 1px black;
    }
    section.header header nav ul li a:hover::before {
        display: none;
    }
}

section.header header nav .shop a i {
    cursor: pointer;
    color: black;
}


/* end hedaer */


/* -------------------------------------------------------------------------------------------------------------------------------- */


/* start landing */

section.landing {
    background-image: url(img/about/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: relative;
    margin-top: 10px;
}

section.landing .box {
    position: relative;
    top: 60%;
    transform: translateY(90%);
}

section.landing .box button {
    background-image: url(img/button.png);
    background-size: cover;
    width: 30%;
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color: #088178;
}

@media (max-width:767px) {
    section.landing .box button {
        background-image: url(img/button.png);
        background-size: cover;
        width: 40%;
        height: 100%;
        padding: 10px;
        border: none;
        background-color: transparent;
        text-align: center;
    }
}


/* end landing */


/* end group photo */


/* -------------------------------------------------------------------------------------------- */


/* start tabel */

section.table .container table.table {
    align-items: center;
}

section.table .container table.table thead {
    text-align: center;
}

section.table .container table.table tbody {
    text-align: center;
}

section.table .container table.table tbody td img {
    width: 50px;
    height: 50px;
}


/* end table */


/* start footer */

section.footer {
    margin-top: 10px;
    border-top: solid 2px blue;
    border-radius: 10px;
}

section.footer .row .box img {
    width: 70px;
    height: 80px;
    border-radius: 10px;
    margin: 10px 10px;
    cursor: pointer;
    transition: 1s;
}

section.footer .row .box img:hover {
    transform: scale(1.2);
}

section.footer .row .box i {
    margin: 10px 10px;
    font-size: 20px;
}


/* end footer */